<div id="header-box">
    <a
        (click)="transition('/')"
        class="name-link bounce-on-hov"
        routerLinkActive="router-link-active"  >
        {{name}}
    </a>
    <div id="page-type" [ngClass]="{expanded: dropDownExpanded}">
        <div class="type" [ngClass]="{'expanded': dropDownExpanded}" (click)="onclickNav()">
            {{page}}
        </div>
        <div class="type" [ngClass]="{'expanded': dropDownExpanded, 'hide-when-not-expanded': !dropDownExpanded}" (click)="transition(redirMap[other2Pages[0]])">
            {{other2Pages[0]}}
        </div>
        <div class="type" [ngClass]="{'expanded': dropDownExpanded, 'hide-when-not-expanded': !dropDownExpanded}" (click)="transition(redirMap[other2Pages[1]])">
            {{other2Pages[1]}}
        </div>
    </div>    
</div>