<div id="header-box">
    <a
        (click)="transition('/')"
        class="name-link bounce-on-hov"
        routerLinkActive="router-link-active"  >
        {{name}}
    </a>
    <div id="page-type" [ngClass]="{expanded: dropDownExpanded}">
        <div class="type" [ngClass]="{'unexpanded-page': !dropDownExpanded}" (click)="onclickNav()">
            {{page}}
        </div>
        <div class="type" [ngClass]="{hiddenNavs: !dropDownExpanded}" (click)="transition(redirMap[other2[0]])">
            {{other2[0]}}
        </div>
        <div class="type" [ngClass]="{hiddenNavs: !dropDownExpanded}" (click)="transition(redirMap[other2[1]])">
            {{other2[1]}}
        </div>
    </div>    
</div>