

<mat-drawer-container class="drawer-container" hasBackdrop="True">

    <mat-drawer #drawer mode="Over"  >
        <div id ="left-panel">
            <!-- <video autoplay muted loop id="footer-background-vid"  oncanplay="this.play()" onloadedmetadata="this.muted = true">
                <source src="../assets/vids/Tunnel.mp4" type="video/mp4">
            </video> -->
            <a *ngIf="aboutmeText"
               (click)="toggleDrawers()"
               [routerLink]="['/about']"
               class="bounce-on-hov"
               routerLinkActive="router-link-active" > {{aboutmeText}}</a>
        </div>
    </mat-drawer>
    <mat-drawer #drawerEnd position="end" >
        <div id ="right-panel">
            <!-- <video autoplay muted loop id="footer-background-vid"  oncanplay="this.play()" onloadedmetadata="this.muted = true">
                <source src="../assets/vids/Tunnel.mp4" type="video/mp4">
            </video> -->
            <a *ngIf="expText"
            (click)="toggleDrawers()"
            [routerLink]="['/exp']"
            class="bounce-on-hov"
            routerLinkActive="router-link-active" > {{expText}}</a>
            <div id="close" class="bounce-on-hov"(click)="toggleDrawers()">
                {{ closeText }}
            </div>
        </div>
    </mat-drawer>

    <mat-drawer-content>

        <img src="../assets/vids/goded.gif" alt="" id="background-vid">
        <router-outlet></router-outlet>
        <!-- <app-nav-header></app-nav-header> -->
        
        <app-nav-footer></app-nav-footer>
    </mat-drawer-content>
</mat-drawer-container>

<!-- <audio id="music" autoplay loop>
    <source src="../assets/vids/clair.mp3">
</audio> -->

<iframe id="music" src="../assets/vids/clair.mp3" frameborder="0" allow='autoplay'></iframe>
