@import '../../styles.scss';
#box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#checks{
    background-color: $negative-colour;
    width: fit-content;
    padding: 20px;
    mat-checkbox{
       margin: 10px; 
    }
    align-self: flex-end;
}
#box .check-box{
    background:transparent;
    height: fit-content;
    border: 0;
    justify-content: unset;
}
#exp-box{
    width: 50%;
    height: 40vh;
    background-color: $negative-colour;
    margin: 2rem;
    //border-radius: 25px 0 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    //border: white 1px solid;

    cursor: pointer;
    & .title-block{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10%;

        & .title-el{
            color: $colour;
            @extend .font-primary;
            text-align: center;
            //mix-blend-mode: difference;
        }
        & .sub-title-els{
            color: $colour;
            @extend .font-tertiary;
            //mix-blend-mode: difference;

        }
    }
    
    .ifNoPic{
        margin-left: 0;
    }
    & .pic{
        //border: red 1px solid;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        //margin-right: 10%;

        > img{
            width: 50%;
        }
    }
}


@media only screen and (max-width: 1200px) {
    #exp-box{
        width: 80%;
    }
    #exp-box .pic{
        display: none;
    }
    #box .check-box{
        margin: 0;
    }
    #box .title-block{
        width: unset;
        margin: 1rem;
    }
}

