@import '../../styles.scss';

#wrap-wrap{
    display: flex; 
    justify-content: center; 
    background: $colour;
    height: 8vh;
}
#footer-wrapper{
    position: relative;
    max-width: 1000px;
    overflow: hidden;
    height: inherit;
    display: flex;
    bottom: 0;
}

#footer-link{
    cursor: pointer;
    @extend .font-footer;
    color: $colour;
    background-color: $negative-colour;
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;

}

#footer-box{
    width: fit-content;
    height: fit-content;
    
    margin: 20px;
    background:$colour;
}

#footer-background-vid{
    position: absolute;
    background-size: 100% 100%;
    left: 0px; /* fixed to left. Replace it by right if you want.*/
    min-height: 100%;
    height: inherit;
    z-index: -2;
    top: -460px;
}

@media only screen and (max-width: 1200px) {

    #footer-wrapper{
        min-height: 7rem;
    }
}