@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
$colour: black ;
$negative-colour: white;

.font { 
    font-family: 'Playfair Display', serif;
}
//overide globals
body{
    position: relative;
    z-index: -2;
    background-color: $colour;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: $negative-colour;
}

::ng-deep .mat-expansion-panel{
    background-color: transparent !important;
    color: rgba(0,0,0,0); /* transparent */
}
::ng-deep .mat-expansion-panel-header{
    /* styles that were added to panel before */
    background-color: transparent !important;
    color: rgba(0,0,0,0); /* transparent */
}
.mat-expansion-panel-header-title{
    @extend .font-secondary-bold;
}
::ng-deep .mat-expansion-indicator {
    color: red;
}
::ng-deep .mat-expansion-indicator::after {
    color: red;
}

::ng-deep .mat-bottom-sheet-container{
    background-color: $negative-colour;
    border-radius: 0 !important;
    min-width: 200px !important;
    max-height: 95vh !important;
}
.mat-line{
    @extend .font;
    color: $colour !important;
}

.mat-tooltip{
    @extend .font-footer;
    background-color: $negative-colour !important;
    color: $colour !important;
    border-radius: 0 !important;
}
.mat-checkbox-label{
    color: black !important;
    @extend .font-tertiary;
}

.mat-snack-bar-container{
    border-radius: 0 !important;
    box-shadow: none !important;
    background-color: $colour;
}

.mat-dialog-container{
    background-color: $colour;
    border-radius: 0 !important;
    box-shadow: none;
}

.mat-simple-snackbar{
    background-color: $colour;
    @extend .font-tertiary;
    .mat-button{
        @extend .font-links;
        color: red !important;

    }
}
.mat-button{
    @extend .font-links;
}



html{
    font-size: 14px;
    background-color: $colour;
}


::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
    &-track{background-color: transparent;}
    &-thumb{background-color: red;}
}
body{
    margin: 0;
}

//global vars

//body boxes
#box, #header-box{
    margin: 2% 20% 0 20%;
    padding: 1%;
}


.font {
    color: $negative-colour;
    &-primary{
        @extend .font;
        font-size: 3rem;
    }
    &-secondary{
        @extend .font;

        font-size: 1.5rem;
        &-bold{
            @extend .font-secondary;
            font-weight: 700;
        }
    }
    &-tertiary{
        @extend .font;

        font-size: 1.25rem;
        &-bold{
            @extend .font-tertiary;
            font-weight: 700;
        }
    }
    &-links{
        @extend .font;

        font-size: 1.5rem;

    }
    &-footer{
        @extend .font;
        font-size: 1rem;
    }
}
.router-link-active{

    background-color: black;
    //color: white !important;
    padding: 5px;
    mix-blend-mode: darken;
}
#background-vid{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1;
    max-width: 90%;
    margin-right: 24%;
}

@media only screen and (max-width: 1200px) {

    #box, #header-box{
        margin: 1% 10% 0 10%;
        padding: 1%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    html{
        font-size: 11px;
    }
}