<div id="box">
    <!-- <video autoplay muted loop id="background-gif">
        <source src="../../../assets/vids/coded.mp4" type="video/mp4">
      </video> -->
    <div id="positional-box">
        <div class="desc-name">{{ self_info.name }}</div>
        <div class="desc-job" *ngFor="let item of self_info.extras">{{item}}</div>
    
    </div>
    <div id="positional-box" class="font-tertiary paragraph">
        {{paragraph}}
    </div>

    <!-- <div id="portrait-box">

    </div> -->
</div>