@import '../../../styles.scss';
#box{
    //box
    height: 75vh;
    //: red 1px dotted;
    display: flex;
    overflow: hidden;
    margin-top: -5vh;


    & #positional-box{
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        mix-blend-mode: difference;
    }
    & #portrait-box{
        width: 300px;
        height: 500px;
        //border: black 1px solid;
    }
    & .paragraph{
        text-align: justify;
   
    }
}

.desc {
    &-name{
        @extend .font-primary;
    }
    &-job{        
        @extend .font-secondary;
    }
    &-school{        
        @extend .font-secondary;
    }
}

@media only screen and (max-width: 1200px) {
    #box #positional-box{
        width: 70%;
    }
    #box {
        margin-top: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
  }