<div id="box">
    <!-- <video autoplay muted loop id="background-gif">
        <source src="../../../assets/vids/coded.mp4" type="video/mp4">
      </video> -->
    <div id="positional-box">
        <div class="desc-name">{{ self_info.name }}</div>
        <div class="desc-job" *ngFor="let item of self_info.extras">{{item}}</div>
    
    </div>
    <div id="positional-box" class="font-tertiary paragraph">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis doloribus recusandae aspernatur
        odit aut excepturi dicta ea aliquid eligendi, rerum fugiat inventore saepe, cum perspiciatis fugit error nisi harum. Itaque!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis doloribus recusandae aspernatur
        odit aut excepturi dicta ea aliquid eligendi, rerum fugiat inventore saepe, cum perspiciatis fugit error nisi harum. Itaque!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis doloribus recusandae aspernatur
        odit aut excepturi dicta ea aliquid eligendi, rerum fugiat inventore saepe, cum perspiciatis fugit error nisi harum. Itaque!
       
    </div>

    <!-- <div id="portrait-box">

    </div> -->
</div>