

<div id="wrapper">
    <div class="dialog-title-block">
        <div class="dialog-close" (click)="onNoClick()">{{closeText}}</div>

        <div class="dialog-sub-title-els">
            {{project.time | datePipe}}
        </div>
        <a [href]="project.link" target="_blank" class="dialog-title-el">
            {{project.name}}
        </a>
        <div class="dialog-sub-title-els">
            {{project.desc}}
        </div>
    </div>
    <ng-container  *ngFor="let item of project.modal_details | keyvalue">
        <mat-card class="card" *ngIf="item.key != 'detail_pics' ">
            <mat-card-title>
                {{item.key}}
            </mat-card-title>
            <mat-card-content>
                <ul>
                    <li *ngFor="let item of item.value">{{item}}</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </ng-container>

    <ng-container  *ngFor="let item of project.modal_details.detail_pics">
        <mat-card class="card">
            <img mat-card-image [src]="item.url">
            <mat-card-footer>
                {{item.desc}}
            </mat-card-footer>
        </mat-card>
    </ng-container>
    
    
</div>
